[Unit]
Description="Telellama Bot Handler Service"
After=ollama.service

[Container]
ContainerName=bots
Image=docker.io/veotri/telellama-bots:local

# --- Environment ---
# Load dynamic variables (OLLAMA_API_URL, OLLAMA_MODEL)
EnvironmentFile=%h/.config/telellama/ollama.env
# Set static variable to find secret
Environment=API_KEYS_FILE=/run/secrets/api_keys

# --- Secret ---
Volume=%h/.config/telellama/api_keys.txt:/run/secrets/api_keys:ro,Z

# --- Volumes ---
Volume=%h/.config/telellama/ollama-entrypoint.sh:/usr/local/bin/entrypoint.sh:ro,Z
Volume=%h/.config/telellama/confs:/app/confs:ro,Z
Volume=%h/.local/share/bots-data/history:/app/history:Z

[Service]
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
