[Unit]
Description="Telellama Ollama Service"

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama

# --- Environment ---
# Load dynamic variables (OLLAMA_HOST, OLLAMA_MODEL, etc)
EnvironmentFile=%h/.config/telellama/ollama.env

# --- Entrypoint ---
Volume=%h/.config/telellama/ollama-entrypoint.sh:/usr/local/bin/entrypoint.sh:ro,Z
Entrypoint=/bin/sh
Exec=/usr/local/bin/entrypoint.sh

# --- Volumes ---
Volume=%h/.local/share/ollama-data:/root/.ollama:Z

# --- Settings ---
PublishPort=11434:11434
Annotation=run.oci.keep_original_groups=1
PodmanArgs=--device nvidia.com/gpu=all

# --- Healthcheck ---
# Await loading for 1 hour
HealthCmd=ollama ps | grep -q $$OLLAMA_MODEL
HealthInterval=10s
HealthRetries=360

[Service]
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
