[Container]
EnvironmentFile=/etc/tg-llm-multibot/.env
Environment=API_KEYS_FILE=/run/secrets/api_keys OLLAMA_MODEL OLLAMA_API_URL
Image=docker.io/veotri/tg-handler:v0.5.1
Secret=api_keys
Volume=/etc/tg-llm-multibot/confs:ro:Z
Volume=%h/.local/share/tg-llm-multibot/history:Z

[Service]
Restart=always

[Service]
TimeoutStartSec=0
